.btn {
  padding: 12px 7px;
  border: 1px solid #fff;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: all;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  cursor: pointer;
  color: #fff;
}
.btn:hover {
  color: yellow;
}
