.related{
    padding: 5px;
   background-color: rgb(232, 236, 238); 
    margin: 7px;
    @media (min-width:1020px){
  background-color: var(--white); 
  padding: 0 60px;
    }
    &_movies{
        display: flex;
        flex-direction: column;
        gap: 5px;

        & h2{
            color: var(--black);
            border-left: 5px solid var(--text-primary-yellow);
            padding: 5px 15px;
            font-family: var(--fontFamily-bitter);
            margin: 10px;
            font-weight: 500;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;     
            -o-border-radius: 5px;
}
& ul{
    display: grid;
    grid-auto-flow: column;
    overscroll-behavior-inline: contain;
    overflow: auto;
    list-style-type: none;
    gap: 20px;
    margin: 10px ;
    padding: 15px;
    @media (min-width: 800px) {
          
          grid-auto-flow: dense;
          grid-template-columns: repeat(6, 1fr);
          overflow: hidden;
        }
      @media (min-width: 1020px) {
          
          grid-auto-flow: dense;
          grid-template-columns: repeat(10, 1fr);
          overflow: hidden;
        }
        & li{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & .related_img{

                & img{
                    height: 150px;
                }
            }
            & .related_Name {
              
             & h3{
               color: var(--black);
               font-size: 18px;
               font-family: var(--fontFamily-bitter);
               text-overflow: ellipsis;
               white-space: nowrap;
               overflow: hidden;
               padding: 4px;
               font-weight: 100;
               width: 100px;
               
             }
        }
}
}
    }
}
